.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.connexion{
    position: absolute;
    right: 10px;
    top: 5px;
}
.inscription{
    position: absolute;
    right: 150px;
    top: 5px;
}